-f .\

-f https://download.pytorch.org/whl/torchvision/

-f https://download.pytorch.org/whl/torch/

torch==1.10.1+cpu
torchvision==0.11.2+cpu
numpy
tqdm
tensorboard
tensorboardX
ml-collections
medpy
SimpleITK
scipy
h5py
